In [1]:
#Q1

# This is empty list

In [2]:
#Q2

# spam[3] = Hello

In [4]:
#Q3

spam = ["a","b","c","d"]
spam[int(int('3' * 2) / 11)]

'd'

In [5]:
#Q4

spam[-1]

'd'

In [6]:
#Q5

spam[:2]

['a', 'b']

In [20]:
#Q6

bacon = [3.14,"cat",11,"cat",True]
bacon.index("cat")

1

In [21]:
#Q7

bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [23]:
#Q8

bacon.remove("cat")
bacon

# two cat variables are removed

[3.14, 11, True, 99]

In [30]:
#Q9
#List 

l1 = [1,2,3]
l2 = [4,5,6]

print( [l1]+[l2])

l3 =[2,4,6]
print([l3]*2)

[[1, 2, 3], [4, 5, 6]]
[[2, 4, 6], [2, 4, 6]]

In [34]:
#Q10

l_1 = ["ravi", 2331, "kumbhar", True ,[1,2,3],32323,"sgm"]
l_1.append("hello")
l_1.insert(0,"hiii")

l_1


# append = in this function the values are goes to the end of the list
# insert = in this function two arguments are requied and we append value any of the index.

['hiii', 'ravi', 2331, 'kumbhar', True, [1, 2, 3], 32323, 'sgm', 'hello']

In [43]:
#Q11

l_1

['ravi', 'kumbhar', True, [1, 2, 3], 32323, 'sgm', 'hello']

In [44]:
l_1.remove("hello")
l_1

['ravi', 'kumbhar', True, [1, 2, 3], 32323, 'sgm']

In [45]:
#Q12

# both are passed to len() and both are concanited and replicaed

In [46]:
#Q13

# List objects are mutable i.e we are able to replace the data
# Tuples are immutable i.e we can not replace the data

In [50]:
#Q14

t1 = (44)
t1

44

In [53]:
#Q15

l1 =[1,2,3,4]
def convert(l1):
    return tuple(i for i in l1)
print(convert(l1))

(1, 2, 3, 4)

In [54]:
t = ("ravi",2,3,4,"dwrsd", True,[1,2,3,3])
l2 = list(t)
l2

['ravi', 2, 3, 4, 'dwrsd', True, [1, 2, 3, 3]]

In [55]:
#Q16

In [58]:
#Q17

# The copy() returns a shallow copy of the list, and deepcopy() returns a deep copy of the list